body{
    background-color: hsl(204, 43%, 93%);
    font-family: 'Karla', sans-serif;
    Font-size: 16px;
    color:  #fff;
    font-weight: 400;
}
.container{
    margin: auto;
    display: grid;
    width: 50%;
    height: 100%;
    grid-template-columns: 50%;
    grid-template-rows: 45% 55%;
    justify-content:center;
    
}
h1{
    color: hsl(179, 62%, 43%);
}
.item-1{
    border: 1px solid hsla(217, 22%, 67%, 0.377);
    border-radius: 10px 10px 0px 0px;
    box-shadow: 5px 5px 5px 2px  hsl(218, 22%, 67%);
    padding-right: 7%;
    padding-left: 7%;
    grid-area: 1 / 4 / 1 / 1;
    background-color: #fff;
    color:  hsl(218, 22%, 67%);
}
.item-1>h3{
    color: hsl(71, 73%, 54%);
}
.item-2{
    border: 1px solid hsla(217, 22%, 67%, 0.377);
    height: 100%;
    border-radius: 0px 0px 0px 10px;
    box-shadow: 5px 5px 5px 2px  hsl(218, 22%, 67%);
    padding-top: 2%;
    padding-bottom: 5%;
    padding-right: 10%;
    padding-left: 10%;
    background-color: hsl(179, 61%, 43%);
    grid-area: 2 / 1 / 2 / 2;
}
button{
    margin-top: 10%;
    margin-left: 10%;
    border-style: none;
    border-radius: 5px;
    background-color: hsl(71, 73%, 54%);
    width: 80%;
    height: 20%;
    color: #fff;
    box-shadow: 5px 5px 5px 2px  hsla(0, 0%, 19%, 0.466);
    font-size: 16px;
}
.preco>p>b{
    font-size: 30px;
    color: #fff;
}
.preco{
    color:  hsl(204, 43%, 93%);
}
.item-3{
    border: 1px solid hsla(216, 22%, 67%, 0.247);
    height: 100%;
    border-radius: 0px 0px 10px 0px;
    background-color: hsl(179, 62%, 43%);
    padding-top: 2%;
    padding-bottom: 5%;
    padding-right: 10%;
    padding-left: 10%;
    grid-area: 3 / 4 / 2 / 2;
}
.item-3>p{
    margin-top: 2%;
    margin-bottom: 2%;
}
footer{
    margin-top: 5%;
    color: black;
}
@media all and (max-width: 600px){
    body{
        font-size: 20px;
    }
    .container{
        margin-left: 1%;
        width: 80%;
        height: 100%;
        grid-template-columns: 100%;
        grid-template-rows: 40% 40% 40%;
    }
    .item-1{
        width: 106%;
        height: 100%;
        border-radius: 10px 10px 0px 0px;
        padding-right: 7%;
        padding-left: 7%;
        background-color: #fff;
        color:  hsl(218, 22%, 67%);
        grid-column: 1 / 1;
        grid-row: 1 / 1;
        box-shadow: 5px 5px 5px 2px  hsla(0, 0%, 19%, 0.178);
    }
    .item-2{
        box-shadow: 5px 5px 5px 2px  hsla(0, 0%, 19%, 0.178);
        width: 100%;
        height: 100%;
        padding-top: 2%;
        padding-bottom: 5%;
        padding-right: 10%;
        padding-left: 10%;
        background-color: hsl(179, 61%, 43%);
        grid-column: 1 / 1;
        grid-row: 2/2;
    }
    .item-3{
        box-shadow: 5px 5px 5px 2px  hsla(0, 0%, 19%, 0.178);
        width: 100%;
        height: 100%;
        border-radius: 0px 0px 10px 10px;
        background-color: hsl(179, 62%, 43%);
        padding-top: 2%;
        padding-right: 10%;
        padding-left: 10%;
        grid-column: 1 / 1;
        grid-row: 3/3;
    }
    footer{
        margin-top: 60%;
        color: black;
    }
}