@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;00;600&display=swap');
body{
    font-family: 'Josefin Sans', sans-serif;
    background-image: url("../images/bg-pattern-desktop.svg");
    color: hsl(0, 36%, 70%);
    font-weight: 400;
    font-size: 16px;
    background-size: 70% 100%;
    background-repeat: no-repeat;
    height: 100%;
}
main{
    height: 100%;
    width: 100%;
    margin-top: -1%;
    display: grid;
    grid-template-columns: 60% 40%;
}
.principal{
    padding: 10% 20%;
    width: 55%;
    height: 60%;

}
.titulo{
    margin-top: 15%;
    width: 50%;
    color: hsl(0, 36%, 70%);
    font-weight: 300;
}
.titulo p{
    font-size: 400%;
    margin: 0%;
    letter-spacing: 10px;
    line-height: 100%;
}
.paragrafo p {
    line-height: 150%;
    margin-top: 5%;
    margin-bottom: 10%;
}
b{
    color:  hsl(0, 6%, 24%);
}

form{
    width: 90%;
    height: 7%;
}
input{
    border-color: hsl(0, 36%, 70%);
    border-width: 1px 0px 1px 1px;
    border-style: solid;
    border-radius: 20px;
    height: 100%;
    width: 85%;
    padding: 1% 5%;
    float: left;
}

button{
    background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    width: 15%;
    height: 138%;
    border-style: none;
    border-radius: 20px;
    float: left;
    margin-left: -12%;
    cursor: pointer;
}

.foto{
    position: relative;
    margin-left: 1%;
    background-image: url("../images/hero-desktop.jpg");
    width: 100%;
    height: 104%;
    background-size: 100%;
    background-repeat: no-repeat;
}