body{
    font-family: 'Poppins', sans-serif;
    color: hsl(229, 6%, 66%);
    font-size: 13px;
}
main{
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
.titulo{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 50%;
}
.principal{
    width: 90%;
}
.titulo>div>p{
    font-size: 30px;
    color: hsl(234, 12%, 34%);
    margin-bottom: 0px;
    margin-top: 0px;
}
.titulo>p{
    width: 90%;
}
h3{
    color: hsl(234, 12%, 34%);
}
.center{
    margin-left: 6%;
    margin-top: 2%;
    width: 100%;
    height: 25rem;
}
.flutuante{
    float: left;
    width: 25%;
}
.card{
    padding: 6%;
    border-radius: 5px;
    box-shadow: 0px 5px 5px 0px hsl(229, 6%, 66%);
    font-size: 13px;
}
.mid{
    margin-left: 3%;
    margin-right: 5%;
    float: left;
    width: 25%;
    height: 85%;
}
.card>img{
    float: right;
    width: 20%;
}
#supervisor{
    margin-top: 30%;
    width: 92%;
    height: 100%;
    float: left;
    border-top: 5px solid hsl(180, 62%, 55%);
}
#team{
    width: 97%;
    height: 45%;
    border-top: 5px solid  hsl(0, 78%, 62%);
    margin-bottom: 2%;
}
#karma{
    margin-top: 5%;
    width: 97%;
    height: 45%;
    border-top: 5px solid hsl(34, 97%, 64%);
}
#calculator{
    margin-top: 30%;
    width: 92%;
    height: 100%;
    float: left;
    border-top: 5px solid hsl(212, 86%, 64%);
}
@media all and (max-width: 600px){
    main{
        padding: 2%;
    }
    .titulo{
        margin-top: 15%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width: 100%;
    }
    .principal{
        width: 100%;
    }
    .titulo>div>p{
        font-size: 20px;
        color: hsl(234, 12%, 34%);
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .titulo>p{
        width: 100%;
    }

    .center{
        margin-top: -20%;
        margin-left: -5px;
        width: 100%;
    }
    .flutuante{
        width: 100%;
    }
    .card{
        margin-top: 5%;
        width: 100%;
        padding: 6%;
        border-radius: 5px;
        box-shadow: 0px 5px 5px 0px hsl(229, 6%, 66%);
        font-size: 13px;
    }
    .card>img{
        float: right;
        width: 20%;
    }

    #supervisor{
        border-top: 5px solid hsl(180, 62%, 55%);
    }
    #team{
        margin-left: -7px;
        width: 92%;
        border-top: 5px solid  hsl(0, 78%, 62%);
    }
    #karma{
        margin-left: -7px;
        width: 92%;
        border-top: 5px solid hsl(34, 97%, 64%);
    }
    #calculator{
        border-top: 5px solid hsl(212, 86%, 64%);
    }
}